<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: {{color}}; color: {{text_color}}">
    <h1>Цветосайт!</h1>

    <a href="/red">Хочу красный</a><br>
    <a href="/blue">Хочу синий</a><br>
    <a href="/green">Хочу зеленый</a><br>
      <a href="/default">Хочу как обычно</a><br><br><br><br>

    <a href="/redtext">Хочу красный текст</a><br>
    <a href="/bluetext">Хочу синий текст</a><br>
    <a href="/greentext">Хочу зеленый текст </a><br>
      <a href="/blacktext">Хочу обычный текст</a><br>
</body>
</html>